.hebrewClass .who_we_txt{ text-align: right; padding-right: 0; padding-left: 50px; }
.hebrewClass .who_we_img { margin-left: 0; position: relative; margin-right: 60px; }
.hebrewClass .service_list li:after { right: auto; left: 0; }
.hebrewClass .we_do_txt { margin-left: 0; text-align: right; margin-right: 50px; }
.hebrewClass .we_do_txt h2{ margin-left: 50px; text-align: right; }
.hebrewClass .we_do_txt p { max-width: 100%; }
.hebrewClass .common_txt span { left: auto; right: 0; }
.hebrewClass .header_wrapper{ direction:rtl; }
.hebrewClass .header_log_in li + li { margin-left: 0; margin-right: 15px; }
.hebrewClass .header_wrapper .nav-item + .nav-item { margin-left: 0; margin-right: 50px; }
.hebrewClass .header_log_in ul li a span { margin-right: 0; margin-left: 10px; }
.hebrewClass .footer_top { direction: rtl; }
.hebrewClass .footer_content { padding-right: 0; margin-left: 50px; }
.hebrewClass { direction: rtl;text-align: right; }
.hebrewClass .gun_man_pic { right: auto; left: 0; }
.hebrewClass .we_do_img_txt { margin-left: 0; left: -35px; right: auto; margin-right: auto; }
.hebrewClass .strategy_sec .who_we_txt { text-align: right; padding-right: 50px; padding-left: 0; }
.hebrewClass .strategy_sec .who_we_img:after { left: auto; right: -70px; }
.hebrewClass .blog_box ul { flex-direction: row-reverse; justify-content: flex-end; }
.hebrewClass .news_blog .blog_box li { margin-right: 0; margin-left: 10px; padding-left: 0; padding-right: 20px;}
.hebrewClass .news_blog .blog_box li:first-child { padding-left: 0; padding-right: 0px; }
.hebrewClass .news_blog .blog_box li::after { left: auto; right: 0; }
.hebrewClass .login_back_pic { right: auto; left: 0; }
.hebrewClass .contact_form h3 span { margin-left: 0px; margin-right: 10px; }
.hebrewClass .contact_back_pic { right: auto; left: 0; }
.hebrewClass .inp_block label { left: auto; right: 16px; }
.hebrewClass .btn-close { margin-left: 0 !important; }
.hebrewClass .text-input.errorborder { background-position: center left 10px !important; padding-right: 16px; padding-left: 40px !important; }

@media (max-width: 1199px) {
.hebrewClass .header_wrapper .nav-item + .nav-item { margin-left: 0px; margin-right: 25px; }
.hebrewClass .strategy_sec .who_we_img { margin-left: 0; margin-right: 20px; } 
.hebrewClass .strategy_sec .who_we_img:after { right: -20px; left: auto; } 
}

@media (max-width: 991px) {

.hebrewClass .header_wrapper .nav-item + .nav-item { margin-left: 0px; margin-right: 0; }
.hebrewClass .navbar-toggler { right: auto; left: 15px; }
.hebrewClass .header_log_in { margin-right: 0px; margin-left: 42px; }
.language_dropDown { margin-right: 0 !important; }
.hebrewClass .we_do_img_txt { left: 40px; }
.hebrewClass .who_we_img { margin-left: 0; margin-right: 0; }
.hebrewClass .who_we_txt { padding-left: 0; }
.hebrewClass .we_do_txt { margin-left: 0;margin-right: 0; }
.hebrewClass .strategy_sec .who_we_txt { padding-right: 0; padding-left: 0; }

}

@media (max-width: 480px) {
.hebrewClass .we_do_img_txt { left: 8px; right: 8px; }

}